* {
  margin: 0;
  padding: 0;
}

body
{
    font-family: 'Open Sans', sans-serif;
    background-color: #ddd;
    font-size: 14px;

}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
  
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}



footer {
  padding: 20px 0;
  font-size: 93%;
  text-align: center;
  background-color: #ccc;
  color: #666;
}
.emphasis{
    padding: 20px 0;
	text-align: center;
}
.emphasis > div > div{
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.2s;
}
.emphasis > div:hover > div{
	margin-top: -10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}